{% extends "blog/base.html" %}
{% load static %}

{% block top-view %}

<img src="/media/topview.jpg" alt="">

{% endblock %}


{% block content %}

<div class="cource">
    <section>
        <h2>title</h2>
        <p>texttexttexttexttexttexttext</p>
    </section>
    <section>
        <h2>title</h2>
        <p>texttexttexttexttexttexttext</p>
    </section>
    <section>
        <h2>title</h2>
        <p>texttexttexttexttexttexttext</p>
    </section>
    <section>
        <h2>title</h2>
        <p>texttexttexttexttexttexttext</p>
    </section>
</div>

{% endblock %}